html {
  overflow: hidden;
}
button {
  position: absolute;
  top: 50px;
}
button:first-of-type {
  left: 10px;
  bottom: 20px;
  top: auto;
}
button:last-of-type {
  right: 10px;
  bottom: 20px;
  top: auto;
}

@media screen and (max-width: 350px) {
  button:first-of-type {
    left: 5px;
    font-size: small;
  }
  button:last-of-type {
    right: 5px;
    font-size: small;
  }
}

#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}