html {
  overflow: hidden;
}
button {
  /* background: rgba(0, 0, 0, 0.7);
  color: white; */
  position: absolute;
  top: 50px;
  /* padding: 10px 20px; */
  /* border: none;
  border-radius: 5px;
  transition: opacity 0.3s; */
}
button:first-of-type {
  left: 10px;
  bottom: 20px;
  top: auto;
}
button:last-of-type {
  right: 10px;
  bottom: 20px;
  top: auto;
}

@media screen and (max-width: 350px) {
  button:first-of-type {
    left: 5px;
    font-size: small;
  }
  button:last-of-type {
    right: 5px;
    font-size: small;
  }
}

container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}